[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
gunicorn = "*"
json-logging = "*"
pytest = "*"

[dev-packages]
flake8 = "*"
pre-commit = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
